@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

:root {
  --blue: #0188df;
  --black: #354046;
}

/* global */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder       {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder                {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder                 {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder            {opacity: 0; transition: opacity 0.3s ease;}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  font-weight: 400;
  transition: all 0.3s ease;
}

*::selection {
  background: var(--black);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container{
  max-width: 1440px;
  height: auto;
  padding-bottom: 8rem;
}

.container-nav {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  overflow: hidden;
}

.button {
  height: 3.6rem;
  width: 17rem;
  background: var(--blue);
  color: #fff;
  font-size: 1.7rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 1rem 0;
}

.button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  z-index: -1;
  transition: 0.3s ease;
}

.button:hover:before {
  top: 0%;
}

.button:hover {
  box-shadow: 0.1rem 0.5rem var(--blue), 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  padding: 1rem;
  padding-top: 8rem;
  padding-bottom: 2rem;
  color: var(--black);
}

.heading span {
  color: var(--blue);
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  padding: auto 2rem;
}

.brand h1:hover {
  color: var(--blue);
}

.brand h1 span {
  color: var(--blue);
}

/* mobile first nav start */

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
}

#header .header {
  min-height: 8vh;
  background-color: var(--black);
  transition: .3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 1rem;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  transition: .5s ease left;
}

#header .nav-list ul.active {
  left: 0;
}

#header .nav-list ul a {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 1.8rem;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  color: var(--blue);
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(.8);
  margin: auto 2rem;
}

#header .hamburger::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite alternate;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: .3s ease;
  transition-property: top, buttom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

/* nav end */

/* home start */

.home .content h1 {
  font-size: 5rem;
  text-transform: none;
  color: var(--black);
}

.home .content h1 span {
  color: var(--blue);
}

.home .content h3 {
  font-size: 4rem;
  text-transform: none;
  color: var(--black);
}

/* home end */

/* about start */

.about {
  background: #eee;
}

.about .content .box {
  margin: 2rem 0;
}

.about .content .box h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.about .content .box h3 i {
  padding: 0 1rem;
  color: var(--blue);
}

.about .content .box p {
  font-size: 1.7rem;
  padding-left: 6rem;
  color: #666;
}

/* about end */

/* price start */

.review {
  background: url(../images/review-bg.jpg),
    linear-gradient(var(--black), var(--black)) no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.review .heading {
  color: #fff;
}

#voluptad-kacusantum{
  margin:38px auto;
  width:95%;
  min-width:315px;
  max-width:957px;
}

.sacusaudan-dumantum {
  width: 100%;
  margin: 0 0 18px;
  clear:both;
  background: rgba(255, 255, 255, 0.6);
}

.cusanmcig-sunantum {
  position: relative;
  display: block;
  padding: 18px;
  font-size: 21px;
  font-weight: 500;
  background: rgba(5, 3, 3, 0.664);
  color: #dcd9d9;
  text-decoration: none;
  transition: all 0.3s ease;
}
.cusanmcig-sunantum.open {
  background: var(--blue);
  color: #f5efef;
}
.cusanmcig-sunantum:hover {
  background: #f5efef;
  color: var(--black);
}

.cusanmcig-sunantum span.toggle-icon::before {
  content:"+";
}

.cusanmcig-sunantum.open span.toggle-icon::before {
  content:"—";
}

.cusanmcig-sunantum span.toggle-icon {
  position: absolute;
  top: 8px;
  right: 18px;
  font-size: 37px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nadaump-cinangum {
  display: none;
  padding: 17px;
  overflow: auto;
}

.nadaump-cinangum p{
  margin:0;
}

.nadaump-cinangum img {
  display: block;
  float: left;
  margin: 0 14px 9px 0;
  width: 49%;
  height: auto;
}

table.delivery {
  width: 100%; 
  border: 0px; 
  border-collapse: collapse;
}
table.delivery thead {
  background: rgba(0, 0, 0, 0.226);
}
table.delivery thead h4{
  padding: 1rem 1rem 0.6rem 1rem; 
  font-size: 1.8rem;
  font-weight: 700;
}
table.delivery td {
  border: 1px solid rgba(0, 0, 0, 0.356) !important;
  padding: 1rem 1rem; 
  font-size: 1.8rem;
}

/* price end */

/* gallery start */

.facility {
  min-height: 100vh;
}

.facility .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.facility .box-container .box {
  height: 20rem;
  width: 30rem;
  margin: 0.3rem;
  overflow: hidden;
}

.facility .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.facility .box-container .box:hover img {
  transform: scale(1.3);
}

/* gallery end */

/* contact start */

.contact {
  background: var(--black);
}

.contact .heading {
  color: #fff;
}

.contact-item{
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 5rem !important;
}

.contact-item .contact-link a{
  font-size: 2.5rem;
  margin-top: 2rem !important;
  cursor: pointer;
  color: #fff;
  transition: color .3s ease;
  align-items: center;
  text-align: center;
}
.contact-item .contact-link a:hover{
  color: var(--blue);
}

.contact-item .social-links a{
  display: inline-flex;
  height: 40px;
  width: 40px;
  color: #fff;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
  transition: color .3s ease;
}
.contact-item .social-links a:hover{
  color: var(--blue);
}

.contact form {
  text-align: center;
}

.contact form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input,
select {
  height: 4rem;
  width: 49%;
  padding: 0 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: var(--black);
}

.contact form textarea {
  height: 20rem;
  resize: none;
  padding: 1rem;
  font-size: 1.5rem;
  width: 100%;
  margin: 1rem 0;
}

.contact form input[type="submit"] {
  width: 20rem;
}

.contact form input[type="submit"]:hover {
  background: var(--black);
}

/* contact end */

/* footer start */

.footer {
  background: var(--black);
}

.footer h4 {
  margin-top: 5rem;
  font-size: 2.5rem;
  color: #fff;
}

.footer .credit {
  color: #fff;
  width: 80%;
  margin: 0;
  padding: 2rem 0;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-top: 0.1rem solid #ccc !important;
}

.footer .credit a{
  margin-top: 1rem;
  font-size: 2.5rem;
  color: rgb(218, 218, 218);
}

.footer .credit a:hover{
 color: var(--blue);
}

/* footer end */

/* Start Keyframes */

@keyframes hamburger_puls {
  0% {
      opacity: 1;
      transform: scale(1);
  }

  100% {
      opacity: 0;
      transform: scale(1.4);
  }
}

@keyframes text_reveal_box {
  50% {
      width: 100%;
      left: 0;
  }

  100% {
      width: 0;
      left: 100%;
  }
}

@keyframes text_reveal {
  100% {
      color: white;
  }
}

@keyframes text_reveal_name {
  100% {
      color: crimson;
      font-weight: bold;
  }
}

/* End Keyframes */

/* adaptiv */

@media only screen and (min-width: 1200px) {
  #header .hamburger {
      display: none;
  }

  #header .nav-list ul {
      position: initial;
      display: block;
      height: auto;
      width: fit-content;
      background-color: transparent;
  }

  #header .nav-list ul li {
      display: inline-block;
  }

  #header .nav-list ul li a {
      font-size: 1.8rem;
  }

  #header .nav-list ul a::after {
      display: none;
  }

  #services .service-bottom .service-item {
      flex-basis: 22%;
      margin: 1.5%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .nadaump-cinangum {
    padding: 10px 0;
    }

  table.delivery thead:first-child{
    text-align: center;
  }

  .contact-item .social-links{
    margin-top: 2rem !important;
  }

  .contact form .inputBox input,
  select {
    width: 100%;
  }

  .contact form input[type="submit"] {
    width: 100%;
  }
}
